/* google font link  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* body style  */
body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

/* main container style  */
.main-container{
    display: grid;
    justify-content: center;
}

/* main container style  */
.header-container{
    width: 90%;
    display: flex;
    padding: 40px 40px 0 70px;
    background-color: black;
    color: white;
    margin: 30px;
    border-radius: 40px;
}

.header-section{
    width: 50%;
    padding: 0 30px;
}

.header-section img{
    width: 600px;
    height: 600px;
}

.header-section h1{
    font-size: 80px;
}

#header-info {
    width: 600px;
}

#header-info p{
    line-height: 2rem;
}

#header-info button {
    font-size: 20px;
    padding: 13px 30px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: blue;
}

#header-info button:hover {
    background-color: green;
    transition: .9s;
    transform: scale(1.1);
}

/* pad responsive style  */
@media only screen and (min-width: 689px) and (max-width: 992px){    
        .header-section {
            width: 50%;
        }
    
        .header-section img {
            width: 100%;
        }
    
        .header-section h1 {
            font-size: 30px;
        }
    
        #header-info {
            padding-top: 100px;
        }
}

/* mobile responsive style  */
@media only screen and (max-width: 688px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-section {
        width: 50%;
    }

    .header-section img {
        width: 100%;
    }
    
    .header-section h1 {
        font-size: 30px;
    }

    #header-info {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* blog area style  */

/* blog buttons section  */
.blog-container{
    display: flex;
    margin: 70px 0;
    width: 100%;
}

.blog-buttons{
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    padding: 20px;
    background-color: black;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.blog-button{
    margin: 12px;
    padding: 12px;
    border-radius: 10px;
}

.selected-btn{
    color: white;
    background-color: red;
}

/* blog cards section  */
.blog-sections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.single-blog{
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 0px;
}

.single-blog img{
    width: 100%;
    margin-bottom: 7px;
}

.blog-info{
    padding: 10px;
}

.blog-stats{
    display: flex;
}

.fa-solid{
    margin: 10px;
}