/* main container style  */
.main-container{
    display: grid;
    justify-content: center;
}

/* main container style  */
.header-container{
    /* TODO: remove border  */
    border: 1px solid gray;
    width: 90%;
    display: flex;
    justify-content: center;
}

.header-section{
    width: 50%;
}